*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222222;
    color: #ffffff;
}

.box1{
    background-color: red;
    height: 30px;
    width: 30px;

    margin: 50px 20px;
    /* margin: 50px 40px 30px 20px; */

    border: 25px solid green;
    /* border-width: 25px;
    border-style: dashed;
    border-color: green; */

    border-radius: 20px;
    /* border-radius: 20px 55px 30px 85px; */

    padding: 50px 20px;
    /* padding: 50px 40px 30px 20px; */

    box-sizing: content-box;
    /* box-sizing: border-box; */

    text-align: center;
}