*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222222;
    /* color: #ffffff; */
}

.container{

    height: 1500px;
    
    /* default flex-direction is row */

    display: flex;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */

    /* default justify-content is flex-start */
    
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */

    /* default flex-wrap is no-wrap */

    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */

    /* default align-items is start */

    /* align-items: start; */
    /* align-items: center; */
    /* align-items: end; */

    /* align-content: center; */
    /* align-content: space-evenly; */
    /* align-content: space-between; */
    /* align-content: space-around; */

    background-color:brown;
    border: 3px solid black;
    margin: 10px;
}

.box{
    height: 170px;
    width: 170px;
    background-color:aqua;
    margin: 10px;
    padding: 10px;
    box-sizing: content-box;
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
}

#box1{
    background-color: green;
    /* align-self: end; */
    order: 5;
}
#box2{
    background-color: yellow;
    /* align-self: end; */
    order: 1;
}
#box3{
    background-color: blueviolet;
    /* align-self: end; */

    /* flex-shrink: 0; */
    /* flex-shrink: 1; */
    flex-shrink: 2;
    order: 2
}
#box4{
    background-color: brown;
    /* align-self: end; */
    order: 3;
}
#box5{
    background-color: chocolate;
    /* align-self: end; */
    /* flex-shrink: 0; */

    /* value greater than 1 produce same result */
    flex-grow: 1;
    order: 4;
}
#box6{
    background-color: orange;
    /* align-self: end; */
    order: 7;
    
}
#box7{
    background-color: magenta;
    /* align-self: end; */
    order: 6;
}
#box8{
    background-color: maroon;
    /* align-self: end; */
    order: 10;
}
#box9{
    background-color: grey;
    /* align-self: end; */
    order: 9;
}
#box10{
    background-color: chartreuse;
    /* align-self: end; */
    order: 8;
}