*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222222;
    /* color: #ffffff; */
}

.container{
    background-color: brown;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
}

.box{
    height: 70px;
    width: 70px;
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border: 3px solid black;
    border-radius: 15px;
}

#box1{
    float: left;
}

#box2{
    float:right;
}