*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222222;
    color: #ffffff;
}

.box{
    height: 100px;
    width: 100px;
    background-color: green;
    border: 3px solid yellow;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#box1{
    position: static;
}

#box2{
    position: relative;
    left: 50px;
    /* right: 40px; */
    top: 30px;
    /* bottom: 20px; */
    z-index: 1;
}

#box3{
    position: absolute;
    /* left: 150px; */
    /* right: 70px; */
    top: 3000px;
    /* bottom: 20px; */
}

#box4{
    position: fixed;
}