* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222222;
  color: #ffffff;
  height: 1000px;
  position:relative;
}

header {
  background-color: green;
  height: 100px;
  /* padding: 50px; */
}

.menu{
    display: flex;
    /* justify-content: space-evenly; */
}

.headerList{
    /* display: inline-block; */
    list-style-type: none;
    font-size: 50px;
    margin-left: 30px;
    margin-top: 22px;
}

a{
    color: #ffffff;
    text-decoration: none;
}

/* main{
  height: 1000px;
} */

.circle{
  background-color: yellow;
  width: 200px;
  height: 200px;
  margin: 30px 0px 30px 30px;
  border-radius: 50%;
}

footer{
  background-color: green;
  padding: 10px 0px;
  text-align: center;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.container{
  display: inline-block;
  background-color: black;
  padding: 10px;
  margin: 10px;
}

.box{
  height: 100px;
  width: 100px;
  background-color: crimson;
  margin: 10px;
  display: inline-block;

}

#fixed{
  position: fixed;
  right: 10px;
}

#bottom{
  width: 300px;
  height: 300px;
  background-color: brown;
  position: absolute;
  right: 20px;
  z-index: 1;
}

#top{
  width: 200px;
  height: 200px;
  background-color: orange;
  position: absolute;
  right: 70px;
  margin-left: 50px;
  margin-top: 50px;
  z-index: 2;
}