*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222222;
    color: #ffffff;
}

.box{
    height: 50px;
    width: 100px;
    background-color: green;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid yellow;
    border-radius: 10px;
    /* transition-property: all; */
    /* transition-duration: 1s; */
    /* transition-timing-function: ease-out; */
    /* transition-delay: 0s; */

    transition: all 0.5s ease-out 0s;
}

.box:hover{
    width: 200px;
    background-color: yellow;
    border: 3px solid red;
    color: #000000;
}